numpy==1.26.4
google-cloud-aiplatform==1.76.0
PyYAML==6.0.1
requests==2.31.0
google-api-python-client==2.158.0
google-ai-generativelanguage==0.6.10
google-api-core==2.19.0
google-cloud-aiplatform==1.76.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.16.0
google-cloud-bigquery==3.23.0
google-crc32c==1.5.0
google-genai==0.4.0
google-generativeai==0.8.3
schedule==1.2.0
google-cloud-vision
google-cloud-texttospeech
opencv-python-headless
pygame
scipy